body{
    font-family: 'Montserrat', sans-serif;
    background:var(--white);

}
:root{
    --white: white;
    --Pale: #EFF2C0;
    --Black:#251d05;
}
.topTitle{
    font-size: x-large;
    color:var(--Black);
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-left: 150px;
}

.bioDiv{
    width: 80vw;
    height: 60vh;
    margin:auto;
    display: block;
    border-radius: 20px;
    background:var(--Pale);
}

.socialsDiv {
    margin: auto;
    display: block;
    padding: 40px;
    text-align: center;
}
#contact{
width: 15vw;
height: 8vh;
border-radius: 15px;
border-color: transparent;
background: var(--Pale);
font-family: 'Montserrat',sans-serif;
font-weight: bolder;
color:var(--Black);
transition: all .2s ease-in-out;
font-size: inherit;
margin: 20px;
        box-sizing: content-box;
}
#contact:hover{
    font-size: large;
}

#linkedIn{
    width: 15vw;
        height: 8vh;
        border-radius: 15px;
        border-color: transparent;
        background: var(--Pale);
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: var(--Black);
        transition: all .2s ease-in-out;
        font-size: inherit;
        margin: 20px;
                box-sizing: content-box;
}
#linkedIn:hover{
    font-size: large;
}

#GitHub{
    width: 15vw;
        height: 8vh;
        border-radius: 15px;
        border-color: transparent;
        background: var(--Pale);
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: var(--Black);
        transition: all .2s ease-in-out;
        font-size:initial;
        margin: 20px;
        box-sizing: content-box;
}
#GitHub:hover{
    font-size: large;

}


