body{
    font-family: 'Montserrat', sans-serif;
    background-color: #CEEAF7;
}
h1{
    color: crimson;
    font-size: 40px;
}
p{
    color: #000;
    font-size: 20px;
}
.right{
    width: 40vw;
    height: 50vh; 
    background-color:#FFE066 ;
    float:right;

}
.left{
    width: 40vw;
    height: 50vh;
    background-color: #FFB7C3;
    float: left;

}


/* #CEEAF7
#FFE066
#FF6700
rgb(220,20,60)
#FFB7C3

*/
