body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(90deg, #14062c, #0c040f);
    margin: 5%;
    letter-spacing: 2px;
}
h1{
    color: crimson;
    font-size: 150%;
    line-height: 4vh;
}
p{
    color: #CEEAF7;
    font-size: 120%;
    line-height: 4vh;
}
a{
    text-decoration: none;
    color: #CEEAF7;
    letter-spacing: 2px;

}
/* .right{
    width: 40%;
    height: 50%; 
    background-color:#FFE066 ; 
    float:right;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(225deg, #08ca22,#ffb7c323);

}
.left{
    width: 40%;
    height: 50%;
    background-color: #FFB7C3; 
    float: left;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(225deg,#ffb7c323,#FFE066);
    position: relative;

} */
button{
display: grid;
grid-auto-flow: column;
grid-gap: 0.5em;
border:solid 0.30em;
border-color: transparent ;
padding: 1em 1.5em;
border-radius: 9em;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
#button-edu{
background: linear-gradient(225deg, #0b0138, #ffb7c323)border-box;
    
}
#button-contact{
background: linear-gradient(225deg, #0b0138, #ffb7c323) border-box;
    
}
#button-exm{
background: linear-gradient(225deg, #ffb7c323, #0b0138) border-box;
    
}
/* .center{

} */


/* #CEEAF7
#FFE066
#FF6700
rgb(220,20,60)
#FFB7C3

*/
